/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* --------------------------------------------------------------- */
/* ------------------  Main wrapper Container -------------------- */
#container  {
  background: #ddeeff;
}

#container .title {
  font-size: 120%;
  font-family: sans-serif;
}

#container .entry {
  border-bottom: 1px dotted #000033;
}

#container .entry img {
  width: 75px;
  float: left;
}

#container .entry h3 {
  margin-bottom: 2px;
  color: blue;
}

#container .entry p {
  margin-top: 0px; 
  margin-bottom: 0.8em; 
}

#columns {
}


/* --------------------------------------------------------------- */
/* -------------------------- BANNER ----------------------------- */
#banner {
  background: #003370;
  padding-top: 5px;
  padding-bottom: 8px;
  border-bottom: 2px solid white;
  font: small-caps 36px/36px verdana, sans-serif;
  color: #bbddff;
  text-align: center;
}

#banner img {
  float: left;
  margin-top: 0px;
  margin-left: 5px;
}



/* --------------------------------------------------------------- */
/* ------------------------ FOOTER styles ------------------------ */
#footer {
  clear: both;
  width: 100%;
  padding: 5px 0;
  border-top: 2px solid white;
  margin: 0.25em 0 0.25em 0;
  font-size: 0.8em;
  color: #a0e0f0;
  background: #003370;
  text-align:center;
}

#footer a {
	color:#f0f0f0;
	background-color:inherit;
	font-weight:bold;
	text-decoration: none;
}

#footer a:hover {
	color: #ffffff;
	background-color: #467Ef7;
}

#div_update_filter_status {
    display: inline;
	text-align:center;
}


/* --------------------------------------------------------------- */
/* ----------------------- Common styles: ------------------------ */

#container_main {
	margin-left: 1em;
	margin-right: 1em;
}

#main_menu_section {
	margin-left: 0px;
}

#main-command-panel-netzke {
	width: 100%;
}

h1 {
  font: 150% sans-serif;
  color: #002550;
  margin-bottom: 0.5em;
  border-left: 5em;
}
h2 {
  font: 130% sans-serif;
  color: #002550;
  margin-bottom: 0.5em; 
  padding-left: 5em;
}
h3 {
  font: 115% sans-serif;
  color: #002550;
  margin-bottom: 0.5em; 
  padding-left: 5em;
}

/* (The following are also used in Table/List view Actions!) */
a {
  font: bold 1.1em verdana, sans-serif;
  padding: 2px;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  background-color: #e89c2e;
}

img {
  border: 0;
}


/* --------------------------------------------------------------- */
/* ---------------------- ABOUT page / Main: --------------------- */
/* (dual-column inner layout) */
#about_container {
  position: relative;
  display: block;
  border-right: 18em;
  padding: 5px;
}

#about_main_area {
  float: left;
  position: relative;
  display: block;
  height: 1%;
}

#about_right_info {
  float: right;
  position: relative;
  width: 18em;
  right: 0px;
}

#about_terminator { clear: both; }


/* --------------------------------------------------------------- */
/* ------------------ Notice / error messages -------------------- */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}


/* ------------------------ The error box ------------------------ */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/* --------------------------------------------------------------- */
/* -------------------- Printer-friendlyness: -------------------- */
@media print {
  #banner { display: none; }
  #side { display: none; }

  #main {
    margin-left: 0em;
    padding: 0em;
    background: white;
  }
  #main .long-text {
    text-align: justify;
  }
  
  #agex_top_actions { display: none; }

  .header_actions { display: none; }

  .schedule-gap {
    page-break-after: always;
  }

  #list-row span.list-actions { display: none; }

  .pagination { display: none; }

  #footer { display: none; }
}

